@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  /* Cores do Sistema (Estilo Senac/Corporativo) */
  --color-background: #ffffff;
  --color-foreground: #0f172a;

  --color-card: #ffffff;
  --color-card-foreground: #0f172a;

  --color-popover: #ffffff;
  --color-popover-foreground: #0f172a;

  /* Azul Senac */
  --color-primary: #004a99;
  --color-primary-foreground: #f8fafc;

  /* Laranja Senac */
  --color-secondary: #f47920;
  --color-secondary-foreground: #ffffff;

  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;

  --color-accent: #f1f5f9;
  --color-accent-foreground: #0f172a;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #f8fafc;

  --color-border: #e2e8f0;
  --color-input: #e2e8f0;
  --color-ring: #004a99;

  --radius: 0.5rem;
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-lg: var(--radius);
}

@layer base {
  * {
    @apply border-border;
    outline: none;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
    min-height: 100vh;
  }
}